* {
  border: 0; margin: 0; padding: 0; background-color: transparent;
}

html, body, #root {
  width: 100%; height: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, input, textarea, button, select {
  line-height: 130%;
}

#app {
  box-sizing: border-box;
  min-height: 100%; min-width: 100%;
  padding: 20px;
  background: #d7fad7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;  
}

.month {
  position: relative;
  display: inline-table;
  margin: 15px 20px;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 100%;
  text-align: center; 
  table-layout:fixed;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.8);
}

.month:hover {
  cursor: default;
}

.month:hover::after {
  position: absolute;
  content: " ";
  top: -4%; left: -5%;
  width: 110%; height: 108%;
  border: 1px solid rgba(0,0,0,0.8);
  pointer-events: none;
}

.month caption {
  letter-spacing: 2px;
  padding: 8px 0;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  margin: 0 4px 5px 4px;
  font-weight: 500;
}

.month caption span {
  display: none;
}

.month:hover caption span {
  display: inline;
  /* font-weight: 300; */
  /* letter-spacing: 1px; */
  color: rgba(0, 0, 0, 0.40);
}

.month th,
.month td {
  /* padding-top: 1px; */
  width: 28px; max-width: 28px;
  height: 28px; max-height: 28px;
  padding: 0; margin: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px solid #E5E5E5; */
}

.month th {
  font-weight: 500;
}

.month td {
  font-weight: 300;
}

/* .month thead tr:first-child th {
  width: auto; height: auto; 
  max-width: auto; max-height: auto;
  letter-spacing: 2px;
  padding: 8px 0;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  font-weight: 500;
}

.month thead tr:nth-child(2) th {
  padding-top: 5px;
} */

.month td:hover:not(.muted) {
 font-weight: 500;
}

.month .muted {
  /* color: #CCC; */
  color: rgba(0, 0, 0, 0.2);
}
