* {
  border: 0; margin: 0; padding: 0; background-color: transparent;
}

html, body, #root {
  width: 100%; height: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, input, textarea, button, select {
  line-height: 130%;
}

#app {
  box-sizing: border-box;
  min-height: 100%; min-width: 100%;
  background: #d7fad7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;  
}

header {
  padding: 40px 20px 20px 20px;
}

#logo {
  fill: rgba(0,0,0,0.8);
  height: 30px;
}


#year-minus, #year-plus {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}

#year-minus { 
  margin-right: 10px;
  border-width: 5px 8px 5px 0;
  border-color: transparent #000000 transparent transparent;
}

#year-plus {
  margin-left: 10px;  
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #000000;
}

#body {
  padding: 20px;
}

.month {
  position: relative;
  display: inline-table;
  margin: 15px 20px;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 100%;
  text-align: center; 
  table-layout:fixed;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.8);
}

.month:hover {
  cursor: default;
}

.month::after {
  pointer-events: none;  
  position: absolute;
  top: -4%; left: -6%;  
  border: 1px solid rgba(0,0,0,0);
  width: 112%; height: 108%;  
  content: " ";
  transition: border 0s;
}

.month:hover::after {
  border-color: rgba(0,0,0,0.8);
  transition: border 500ms;
}

.month caption {
  letter-spacing: 2px;
  padding: 8px 0;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  margin: 0 4px 5px 4px;
  font-weight: 500;
}

.month caption span {
  display: none;
}

.month:hover caption span {
  display: inline;
  /* font-weight: 300; */
  /* letter-spacing: 1px; */
  color: rgba(0, 0, 0, 0.40);
}

.month th,
.month td {
  /* padding-top: 1px; */
  width: 28px; max-width: 28px;
  height: 28px; max-height: 28px;
  padding: 0; margin: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px solid #E5E5E5; */
}

.month th {
  font-weight: 500;
}

.month td {
  font-weight: 300;
}

/* .month thead tr:first-child th {
  width: auto; height: auto; 
  max-width: auto; max-height: auto;
  letter-spacing: 2px;
  padding: 8px 0;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  font-weight: 500;
}

.month thead tr:nth-child(2) th {
  padding-top: 5px;
} */

.month td:hover:not(.muted) {
 font-weight: 500;
}

.month .muted {
  /* color: #CCC; */
  color: rgba(0, 0, 0, 0.2);
}
